{% extends 'base.html' %} {% load static %} {% block body %}
<main class="container">
  <h1 class="display-1 text-bold fw-bolder text-center mb-4">Blogs</h1>
  <div
    class="row row-col-2 justify-content-start align-items-center fadeInUp animate my-5"
  >
    {% for blog in blogs %}
    <div class="col-md-6 col-sm-12 mb-3">
      <div class="card">
        <a href="{{ blog.get_url }}" class="unlink">
          <img
            src="{{ blog.cover_image.url }}"
            style="height: 300px; width: 100%; object-fit: cover"
          />
        </a>
        <div class="card-body mb-3">
          <h3>{{ blog.title }}</h3>
          <p class="card-text">{{ blog.summary }}</p>
          <a href="{{ blog.get_url }}" class="btn btn-outline-dark"
            >Continue reading...</a
          >
          <small class="text-muted float-end">{{ blog.created_at|date }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
