{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 py-3 border rounded">
      <form method="POST" enctype="multipart/form-data">
        <h4 class="mb-3 border-bottom pb-3">Update blog</h4>
        {% csrf_token %} {{ edit_blog_form.as_p }}
        <div class="text-center">
          <a href="{% url 'blog_list' %}" class="btn btn-outline-dark"
            ><i class="fa-solid fa-reply"></i> Back</a
          >
          <button type="submit" class="btn me-2 btn-success">
            <i class="fa-solid fa-floppy-disk"></i> Update
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-sm-12">
      <img src="{{ blog.cover_image.url }}" alt="" class="rounded img-fluid" />
    </div>
  </div>
</div>
{% endblock %}
