{% extends 'base.html' %} {% load static %} {% block body %}
<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
  <div class="container pt-5">
    <div class="row g-5 pt-5">
      <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
        <h1 class="display-4 text-white mb-4 animated slideInRight">
          Our Main Areas
        </h1>
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb justify-content-center justify-content-lg-start mb-0"
          >
            <li class="breadcrumb-item">
              <a class="text-white" href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item text-white active" aria-current="page">
              Main Areas
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-6 align-self-end text-center text-lg-end">
        <img
          class="img-fluid"
          src="{% static 'img/hero-img.png' %}"
          alt=""
          style="max-height: 300px"
        />
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
<!-- Case Start -->
<div class="container-fluid bg-light py-5">
  <div class="container py-5">
    <div
      class="mx-auto text-center wow fadeIn"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">
        Case Study
      </div>
      <h1 class="mb-4">Explore Our Recent AI Case Studies</h1>
    </div>
    <div class="row g-4">
      {% for area in all_main_areas %}
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
        <div class="case-item position-relative overflow-hidden rounded mb-2">
          <img
            class="img-fluid"
            src="{% static 'img/project-1.jpg' %}"
            alt=""
          />
          <a
            class="case-overlay text-decoration-none"
            href="{{ area.get_url }}"
          >
            <small>{{ area.title }}</small>
            <h5 class="lh-base text-white mb-3">
              {{ area.content|safe|truncatewords:10 }}
            </h5>
            <span class="btn btn-square btn-primary"
              ><i class="fa fa-arrow-right"></i
            ></span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Case End -->

{% endblock %}
