{% load static %}
<div class="container-fluid bg-secondary sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img
          style="height: 60px; width: auto; object-fit: auto"
          src="{% static 'logo/scai-primary.svg' %}"
          alt="Sibia Climate AI Logo"
          class="img-fluid"
        />
      </a>
      <button
        type="button"
        class="navbar-toggler ms-auto me-0"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
          <a href="about.html" class="nav-item nav-link">About</a>
          <a href="service.html" class="nav-item nav-link">Services</a>
          <a href="project.html" class="nav-item nav-link">Projects</a>
          <a href="{% url 'main_areas' %}" class="nav-item nav-link"
            >Main Areas</a
          >
          <a href="{% url 'blog_list' %}" class="nav-item nav-link">Blogs</a>
          {% if request.user.is_authenticated and request.user.is_superuser %}
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle active"
              data-bs-toggle="dropdown"
              >Admin</a
            >
            <div class="dropdown-menu bg-light mt-2">
              <a href="/admin/" class="dropdown-item">Admin</a>
              <a href="{% url 'add_blog' %}" class="dropdown-item">Add Blog</a>
              <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
            </div>
          </div>
          {% endif %}
          <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <button
          type="button"
          class="btn text-white p-0 d-none d-lg-block"
          data-bs-toggle="modal"
          data-bs-target="#searchModal"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </nav>
  </div>
</div>
